[Match]
Name=en*
Name=eth*

[Link]
RequiredForOnline=routable

[Network]
DHCP=yes
MulticastDNS=yes

# ref: https://thu.services/services/#systemd-networkd-ipv4
[DHCP]
ClientIdentifier=mac

[DHCPv4]
RouteMetric=200

[IPv6AcceptRA]
RouteMetric=200
