{
    order webdav before file_server
}

https://166.111.238.16:8443 {
    tls internal
    log {
        output file /data/access.log {
            roll_size 50MiB
            roll_keep 1000
            roll_local_time
        }
        format transform "{common_log}" {
            time_local
        }
    }
    redir /qbit /qbit/
    handle_path /qbit/* {
        reverse_proxy 127.0.0.1:8080 {
            header_up Host {upstream_hostport}
            header_up X-Forwarded-For {remote_host}
            header_up X-Forwarded-Host {hostport}
            header_up X-Forwarded-Proto {scheme}
        }
    }

    redir /dav /dav/
    handle_path /dav/* {
        root * /srv/webdav
        basic_auth {
            # docker run caddy caddy hash-password --plaintext <plain_pswd>
            floccus $2a$14$MeKehX9GlCdj0vo1AWtAJ.rqUdzku2gVVOunXXTJKe.5TTpNUUzt2
        }
        webdav
    }

    redir /jellyfin /jellyfin/
    handle_path /jellyfin/* {
        reverse_proxy 127.0.0.1:8081
    }
    
    redir /vault /vault/
    handle /vault* {
        reverse_proxy 127.0.0.1:8082 {
            header_up Host {host}
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-For {remote_host}
            header_up X-Forwarded-Proto {scheme}
        }
    }

    redir /gitea /gitea/
    handle_path /gitea/* {
        reverse_proxy 127.0.0.1:8083 {
            header_up Host {upstream_hostport}
            header_up X-Forwarded-For {remote_host}
            header_up X-Forwarded-Host {hostport}
            header_up X-Forwarded-Proto {scheme}
        }
    }

    handle {
        respond "Wrong" 200
    }
}
