# Campus uplink. Keep the existing DHCP identities.
[Match]
Name=eth0

[Link]
RequiredForOnline=routable
RequiredFamilyForOnline=ipv4

[Network]
DHCP=yes
IPv6AcceptRA=yes
LinkLocalAddressing=ipv6

[DHCPv4]
ClientIdentifier=mac
DenyList=192.168.31.1
RouteMetric=101
UseDNS=no
UseHostname=no

[DHCPv6]
DUIDType=link-layer-time
DUIDRawData=00:01:30:e0:ba:65:e4:5f:01:d9:72:ff
IAID=31027967
UseDNS=no

[IPv6AcceptRA]
UseDNS=no
RouteMetric=101
