# Direct cable to a laptop: address assignment only, no gateway or DNS.
[Match]
Name=eth1

[Link]
RequiredForOnline=no

[Network]
DHCP=no
DHCPServer=yes
IPv6AcceptRA=no
LinkLocalAddressing=ipv6
ConfigureWithoutCarrier=yes

[DHCPServer]
PoolOffset=51
PoolSize=100
DefaultLeaseTimeSec=12h
MaxLeaseTimeSec=12h
EmitRouter=no
EmitDNS=no
EmitNTP=no
EmitSIP=no
EmitPOP3=no
EmitSMTP=no
EmitLPR=no
EmitTimezone=no

[Address]
Address=192.168.0.50/24
AddPrefixRoute=no

[Route]
Destination=192.168.0.0/24
Scope=link
PreferredSource=192.168.0.50
