name: my

volumes:
  caddy_config:

networks:
  proxy:
    driver: bridge

services:
  auth-thu-deauth:
    build:
      context: ./apps/auth-thu
      dockerfile: Dockerfile
    container_name: auth-thu-deauth
    network_mode: host
    volumes:
      - ./apps/auth-thu:/conf
    command: ["deauth"]

  auth-thu:
    build:
      context: ./apps/auth-thu
      dockerfile: Dockerfile
    container_name: auth-thu
    network_mode: host
    volumes:
      - ./apps/auth-thu:/conf
    command: ["-c", "/conf/auth-thu.json", "auth", "-k"]
    restart: always
    depends_on:
      auth-thu-deauth:
        condition: service_completed_successfully

  sing-box:
    build:
      context: ./apps/sing-box
      dockerfile: Dockerfile
    container_name: sing-box
    network_mode: host
    restart: always
    volumes:
      - ./apps/sing-box:/conf
    devices:
      - /dev/net/tun
    cap_add:
      - NET_ADMIN
    environment:
      - CONFIG_PATH=/conf/sing-box.json

  caddy:
    build:
      context: ./apps/caddy
      dockerfile: Dockerfile
      network: host
    container_name: caddy
    network_mode: host
    volumes:
      - ./apps/caddy:/etc/caddy
      - ${DISK_ROOT:-${HOME}/disk}/webdav:/srv/webdav
      - ${DISK_ROOT:-${HOME}/disk}/caddy/data:/data
      - caddy_config:/config

  qbit:
    image: qbittorrentofficial/qbittorrent-nox:latest
    container_name: qbit
    environment:
      - QBT_LEGAL_NOTICE=confirm
      - QBT_WEBUI_PORT=8080
    ports:
      # for bittorrent traffic
      # - 6881:6881/tcp
      # - 6881:6881/udp
      - 127.0.0.1:8080:8080
    networks: [proxy]
    read_only: true
    stop_grace_period: 30m
    tmpfs:
      - /tmp
    tty: true
    volumes:
      - ${DISK_ROOT:-${HOME}/disk}/qbit/config:/config
      - ${DISK_ROOT:-${HOME}/disk}/qbit/downloads:/downloads

  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Shanghai
    ports:
      - 127.0.0.1:8081:8096
    networks: [proxy]
    volumes:
      - ${DISK_ROOT:-${HOME}/disk}/jellyfin/config:/config
      - ${DISK_ROOT:-${HOME}/disk}/media/movies:/data/movies
  
  vault:
    image: vaultwarden/server:latest
    container_name: vault
    restart: unless-stopped
    environment:
      DOMAIN: "https://166.111.238.16:8443/vault"
      SIGNUPS_ALLOWED: "false"
      LOG_LEVEL: "debug"
    env_file:
      - ./secret-vars.env
    volumes:
      - ${DISK_ROOT:-${HOME}/disk}/vaultwarden:/data
    ports:
      - 127.0.0.1:8082:80
    networks: [proxy]
